{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card rounded-3">
            <div class="card-body p-4">
  
              <h4 class="text-center my-3 pb-3">Ticket Master</h4>

              {% if tasks|length < 1 %}
              <h3 class="text-center my-3 pb-3"> There are no tasks. Create one below!</h3>
  
              <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" action="/" method="POST">
                <div class="col-12">
                  <div class="form-outline">
                    <input type="text" id="form1" class="form-control" name="content" />
                    <label class="form-label" for="form1">Enter a task here</label>
                  </div>
                </div>
  
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
              </form>
              {% else %}
              <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" action="/" method="POST">
                <div class="col-12">
                  <div class="form-outline">
                    <input type="text" id="form1" class="form-control" name="content" />
                    <label class="form-label" for="form1">Enter a task here</label>
                  </div>
                </div>
  
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
              </form>
  
              <table class="table mb-4">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Todo item</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                {% for task in tasks %}
                <tbody>
                  <tr>
                    <th scope="row">{{task.id}}</th>
                    <td>{{task.content}}</td>
                    <td>In progress</td>
                    <td>
                      <a class="btn btn-danger" href="/delete/{{task.id}}">Delete</a>
                      <a class="btn btn-success ms-1" href="/update/{{task.id}}">Update</a>
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}